.footer {
    padding-top: 6%;
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    background-color: #141515;
}
.footer-1-h2-1 {
    /* border: 2px solid red; */
    width: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
   
}
.footer-1-h5-1{
     background: linear-gradient(to right, #f32170, 
                    #ff6b08, #cf23cf, #3577f2); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text;
}
.footer-1 {
    /* border: 2px solid red; */
    width: 50%;
    padding-left: 5%;
    color: rgb(222, 219, 219);
}
.footer-1-p-1 {
    /* border: 2px solid red; */
    width: 60%;
    margin-top: 2%;
}
.footer-1-div-1 {
    margin-top: 5%;
}
.footer-2 {
    /* border: 2px solid red; */
    width: 50%;
}
.footer-last {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    /* padding-top: 1.4%; */
    /* padding-right: 2%; */
    background-color: #000000;
    margin-top: 2%;
    height: 9vh;
}
.footer-last-link {
    border: 2px solid gray;
    width: 2%;
    margin-left: 1%;
    border-radius: 100px;
    text-align: center;
    color: gray;
}
.copyright {
    width: 85%;
    color: gray;
}
.footer-input {
    width: 80%;
    display: flex;
    line-height: 3;
    color: gray;
    border: none;
    border-bottom: 2px solid gray;
    background-color: transparent;
    outline: none;
}
.footer-hr {
    width: 70%;
}
.btn {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: 0.125em;
    --curve-size: 0.5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    cursor: pointer;
    /* use position: relative; so that BG is only for .btn */
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: 0.5em 1.5em;
    font-size: 17px;
    border: 0;
    text-transform: uppercase;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),
            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),
            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
    transition: color 250ms;
}

.btn::after,
.btn::before {
    content: "";
    position: absolute;
    inset: 0;
}

.btn::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
}

@keyframes move-bg7234 {
    0% {
        background-position: 31% 0%;
    }

    50% {
        background-position: 70% 100%;
    }

    100% {
        background-position: 31% 0%;
    }
}

.btn::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
            /* Top-left */
            var(--border-width) calc(var(--curve-size) + var(--border-width) * 0.5),
            calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),
            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
}

.btn:where(:hover, :focus)::after {
    clip-path: polygon(
            /* Top-left */
            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
            calc(100% - var(--border-width)) var(--border-width),
            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),
            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
    transition: 200ms;
}

.btn:where(:hover, :focus) {
    color: #fff;
}

@media screen and (max-width:550px) {
    .footer{
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
    }
.footer-1{
    /* border: 2px solid red; */
    width: 90%;
    margin: 15px auto;
    padding-bottom: 10px;
    padding-top: 10px;

}
.footer-last{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.copyright{
    font-size: 0.8rem;
    padding-top: 10px;

}
.footer-last-link{
    display: none;
}

}